*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: #2E0249;
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
}

.container img {
    max-width: 380px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 70px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    background: #570A57;
    height: 60px;
    align-items: center;
    font-weight: bold;
}

.navbar ul {
    display: flex;
} 

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    color: #2E0249;
}
.navbar li {
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

.header .container {
    display: flex;
    background: #C9BBCF;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}

.main 
.container  {
    display: flex;
    background: #1a960f;
    justify-content: space-between;
    align-items: center;
    height: 250px;
}

.container .content {
    text-align: center;
}

.content img {
    max-width: 150px;
}

.quote {
    background: #8CC0DE;
    padding: 30px 30px;
    line-height: 1.5;
}

p {
    text-align: right;
}

